/** @format */

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

#__next {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

:root {
  --transition-property: all;
  --transition-duration: 0.3s;
  --transition-function: ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--dark-grey);
  background-color: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* :root {
 } */

/* @media (prefers-color-scheme: dark) {
	:root {
	}
 } */

/* @media (prefers-color-scheme: dark) {
	html {
	  color-scheme: dark;
	}
 } */
