/** @format */

:root {
  // colors
  --primary: #fff;
  --light-primary: #fdfdfd;
  --dark-primary: #b3b3b3;
  --ultra-light-primary: #e8f7fa;
  --white: #fff;
  --primary-black: #000;
  --grey: #9ca4b3;
  --light-grey: #d7dbe2;
  --dark-grey: #3c3c3c;
  --dark: #141414;
  --orange: #e8aa31;
  --dark-orange: #ff8437;
  --red: #ff8585;
  --inherit: inherit;
  --green: #03d087;
  --dark-green: #219653;
  --body-color: #ecf1f2;

  // shadows
  --shadow-card: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --shadow-card-hover: rgba(0, 0, 0, 0.3) 0px 5px 22px;
  --shadow-xs: 0px 1px 2px black;
  --shadow-sm: 0px 1px 3px black, 0px 1px 2px black;
  --shadow-md: 0px 4px 8px -2px black, 0px 2px 4px -2px black;
  --shadow-lg: 0px 12px 16px -4px black, 0px 4px 6px -2px black;
  --shadow-xl: 0px 20px 24px -4px black, 0px 8px 8px -4px black;
  --shadow-2xl: 0px 24px 48px -12px black;
  --shadow-3xl: 0px 32px 64px -12px black;
  --shadow-focus: 0px 1px 2px rgba(16, 24, 40, 0.5), 0px 0px 0px 4px var(--primary);
  --shadow-error: 0px 1px 2px rgba(16, 24, 40, 0.5), 0px 0px 0px 4px var(--red);
  --input-bg: rgba(7, 7, 7, 0.03);
}

[data-theme='dark'] {
  --light-primary: #575757;
  --body-color: #373737;
  --dark-grey: #1d1d1d;
  --primary-black: #fff;
  --input-bg: rgba(255, 255, 255, 0.2);
  --shadow-card-hover: rgba(255, 255, 255, 0.2) 0px 5px 22px;
}
